/* 
Theme Name:		 Hello Elementor Child
Theme URI:		 https://elementor.com/
Description:	 Hello Elementor Child is a child theme of Hello Elementor, created by Elementor team
Author:			 Elementor Team
Author URI:		 https://elementor.com/
Template:		 hello-elementor
Version:		 1.0.14
Text Domain:	 hello-elementor-child
*/


/*
    Add your custom styles here
*/

.fuel-tbl-wrap {width: 100%;}
.fuel-tbl .fuel-val {background: #e4ffe4;}
.fuel-tbl th {min-width: 100px;padding: 0; vertical-align: middle; background: white; box-shadow: inset 0 -1px 0 0px #cccccc; padding: 5px;}
.fuel-tbl td {padding: 10px; vertical-align: middle; line-height: 1.2;}

@media (min-width: 787px) {
    .fuel-tbl th {position: sticky; top: 0; z-index: 10;}
}

@media (max-width: 786px) {
    .fuel-tbl-wrap {overflow: auto;}
    .fuel-tbl td {padding: 3px 10px; font-size: 15px;}
}

.grecaptcha-badge { 
    visibility: hidden;
}

@media print {
    .single-post header {display: none!important;}
    .single-post footer {display: none!important;}
    .single-post main nav {display: none!important;}
    .noprint {display: none!important;}
    #enable-toolbar {display: none!important;}
}