.lpk-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lpk-fields-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  width: 100%;
  z-index: 10;
  position: relative;
}

.lpk-filter select {
  border-color: #c3c3c3;
  appearance: none;
}

.lpk-filter .select-wrapper {
  position: relative;
}
.lpk-filter .select-wrapper:after{
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #616161;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  content: "";
  z-index: 98;
}

.lpk-filter .lpk-submit {
  padding: 13.5px;
  width: 100%;
  background: #2B9E3F;
  color: #fff;
  border-radius: 3px;
}
.lpk-filter .lpk-submit:focus {
  background: #2B9E3F;
}
.lpk-filter .lpk-submit:disabled {
  background: #c5c5c5;
}
.lpk-filter .lpk-submit-wrapper {
  grid-column: 1/-1;
}

.lpk-filter .lpk-result {
  display: flex;
  flex-direction: column;
  background: #eee;
  padding: 15px 40px;
  gap: 10px 40px;
  opacity: 100%;
  width: 100%;
  pointer-events: initial;
  transform: translateY(0);
  transition: all 1s;
  z-index: 0;
  text-align: center;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.lpk-filter .lpk-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px 40px;
  opacity: 100%;
  width: 100%;
  position: relative;
}
.lpk-filter .lpk-result.hide {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-50px);
}
.lpk-filter .test-wrap {
  font-weight: 700;
}

.lpk-result.is-electric .lpk-row:not(:first-of-type):before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  height: 1px;
  background: #c5c5c5;
}

.lpk-result:not(.is-electric) .eletric-only {display: none!important;}
.lpk-result .lpk-item {flex: 1; min-width: 250px;}

@media screen and (max-width: 1024px) {
  .lpk-fields-wrapper {
    grid-template-columns: 1fr;
  }
  .lpk-filter .lpk-result {padding: 15px 5px;}
  .lpk-filter .lpk-row {gap: 0 40px;}
}